.popup__submit-button {
    width: 238px;
    margin: 45px auto 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    background: #000;
    border: 1px solid #000;
    border-radius: 2px;
    color: #fff;
    text-align: center;
    padding: 14px 0;
    cursor: pointer;
    transition: .4s;
}

.popup__submit-button:hover {
    opacity: .8;
}

@media screen and (min-width: 560px) {
    .popup__submit-button {
        width: 358px;
        margin-top: 48px;
        font-size: 18px;
        line-height: 1.22;
        padding-bottom: 18px;
    }
}