.profile__add-button {
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: 50px;
    background-color: black;
    border: 2px solid #fff;
    box-sizing: border-box;
    border-radius: 2px;
    cursor: pointer;
    transition: .4s;
}

.profile__add-button:hover {
    opacity: .6;
}

@media screen and (min-width: 767px) {
    .profile__add-button {
        width: 150px;
        margin-top: 35px;
    }
}
